body {
  padding: 0;
  margin: 0 auto;
  width: 320px;
  font-family: Open Sans, Arial, sans-serif; }

@media (min-width: 660px) {
  body {
    padding: 0;
    margin: 0 auto;
    width: 660px; } }

@media (min-width: 1200px) {
  body {
    padding: 0;
    margin: 0 auto;
    width: 1200px; } }

.main-header {
  width: 320px;
  background: url("../img/iphone-5-in-hand-png.jpg") #283645 no-repeat bottom;
  margin: 0 auto; }

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-menu__item {
  width: 320px;
  box-shadow: 0 1px 0px #000000, 0 2px 0px #485461; }

.main-menu__item:last-child {
  box-shadow: 0 1px 0px #000000; }

.main-menu__link {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none; }

.main-menu__item--logo {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.main-menu__logo {
  display: block;
  margin: 0 0 0 20px;
  background: url("../img/logotype-white-mobile.png") no-repeat;
  width: 75px;
  height: 22px; }

.main-menu__close {
  display: block;
  margin: 0 20px 0 0;
  background: url("../img/close menu BTN copy.png");
  width: 23px;
  height: 23px;
  cursor: pointer;
  filter: grayscale(100%) brightness(500%); }

.main-menu__open {
  display: block;
  margin: 0 20px 0 0;
  background: url("../img/open menu.png") right top;
  width: 50px;
  height: 24px;
  cursor: pointer;
  filter: grayscale(100%) brightness(500%); }

.main-menu__item--close {
  display: none; }

.main-menu__item--logo--open {
  box-shadow: 0 1px 0px #000000;
  background: rgba(0, 0, 0, 0.3); }

.main-menu__logo:active {
  opacity: 0.3; }

.main-menu__close:hover {
  filter: none; }

.main-menu__close:active {
  opacity: 0.3; }

.main-menu__open:hover {
  filter: none; }

.main-menu__open:active {
  filter: none;
  opacity: 0.3; }

.main-menu__link:hover {
  color: #d22856; }

.main-menu__link:active {
  color: #d22856;
  opacity: 0.3; }

@media (min-width: 660px) {
  .main-header {
    width: 660px;
    background: url("../img/iphone-tablet.jpg") no-repeat bottom; }
  .main-menu__item {
    width: 660px; }
  .main-menu__item--logo {
    height: 110px; }
  .main-menu__logo {
    margin: 0 0 0 20px;
    background: url("../img/logotype-pink-tablet.png") no-repeat;
    width: 147px;
    height: 40px;
    filter: grayscale(100%) brightness(500%); }
  .main-menu__close {
    margin: 0 20px 0 0; }
  .main-menu__logo:hover {
    filter: none; }
  .main-menu__logo:active {
    filter: grayscale(100%);
    opacity: 0.3; }
  .main-menu__close:hover {
    filter: none; }
  .main-menu__close:active {
    opacity: 0.3; }
  .main-menu__link:hover {
    color: #d22856; }
  .main-menu__link:active {
    color: #d22856;
    opacity: 0.3; } }

@media (min-width: 1200px) {
  .main-header {
    width: 1200px;
    background: url("../img/iphone-7.jpg") no-repeat bottom; }
  .main-menu {
    display: flex;
    z-index: 2;
    margin: 0;
    padding: 0 130px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 940px;
    justify-content: space-between; }
  .main-menu__item {
    width: auto;
    display: flex;
    align-items: center;
    height: 110px;
    box-shadow: none; }
  .main-menu__item:last-child {
    box-shadow: none; }
  .main-menu__link {
    text-transform: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400; }
  .main-menu__logo {
    align-self: flex-start;
    margin: 25px 0 0 0;
    background: url("../img/logotype-white-desktop.png") no-repeat;
    width: 147px;
    height: 40px; }
  .main-menu__close {
    display: none; }
  .main-menu__link--active {
    border-bottom: 2px solid #ffffff; }
  .main-menu__open {
    display: none; }
  .main-menu__logo:hover {
    filter: none; }
  .main-menu__logo:active {
    opacity: 0.3; }
  .main-menu__close:hover {
    filter: none; }
  .main-menu__close:active {
    opacity: 0.3; }
  .main-menu__link:hover {
    color: #d22856; }
  .main-menu__link:active {
    color: #ffffff;
    opacity: 0.3; } }

.intro__slogan {
  display: none; }

.intro {
  margin: 0;
  padding: 0;
  position: relative;
  height: 395px;
  width: 320px; }

.intro__download {
  margin: 0;
  padding: 0;
  height: 270px;
  width: 320px;
  position: absolute;
  bottom: -270px;
  background-color: #283645; }

.intro__download-link {
  display: flex;
  margin: 30px auto 0 auto;
  border-radius: 50px;
  width: 275px;
  height: 50px;
  border: 3px solid white;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none; }

.intro__download-link:hover {
  color: #d22856;
  background: #ffffff; }

.intro__download-link:active {
  color: rgba(210, 40, 86, 0.3); }

@media (min-width: 660px) {
  .intro {
    margin: 0;
    padding: 0;
    width: 660px;
    height: 620px; }
  .intro__download {
    position: static;
    height: auto;
    width: 300px;
    left: 20px;
    top: 105px;
    background: none; }
  .intro__slogan {
    display: block;
    margin: 0 auto;
    padding-top: 80px;
    width: 200px;
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    line-height: auto;
    color: #ffffff; } }

@media (min-width: 1200px) {
  .intro {
    margin: 0;
    padding: 0;
    width: 1200px;
    height: 740px; }
  .intro__download {
    padding: 120px 0 0 130px;
    position: static;
    height: auto;
    width: 300px;
    margin: 0; }
  .intro__slogan {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 240px;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    line-height: auto;
    color: #ffffff; }
  .intro__download-link {
    margin: 60px auto 0 auto; } }

.system {
  margin: 0 auto;
  text-align: center;
  width: 280px; }

.system__logos {
  margin: 30px auto 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 205px;
  height: 55px;
  list-style: none;
  align-items: bottom; }

.system__logo-item {
  margin: auto 0 0 0;
  padding: 0; }

.system__logo-item img {
  margin: 0;
  padding: 0;
  display: block; }

.system__legend {
  margin: 25px 0 0 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff; }

@media (min-width: 660px) {
  .intro__download-link {
    margin: 30px auto 0 auto; }
  .system__logos {
    margin: 45px auto 0 auto; }
  .system__legend {
    margin: 40px auto 0 auto; } }

@media (min-width: 1200px) {
  .intro__download-link {
    margin: 50px auto 0 auto; }
  .system__logos {
    margin: 65px auto 0 auto; }
  .system__legend {
    margin: 60px auto 0 auto; } }

.description {
  margin: 315px auto 0 auto;
  width: 320px;
  height: 1000px;
  text-align: center;
  background: url("../img/description-mobile.jpg"); }

.description__intro {
  margin: 0 auto;
  padding: 0;
  width: 205px;
  text-align: center;
  font-size: 24px;
  line-height: auto;
  font-weight: 300;
  color: #283645; }

.description__image {
  margin-bottom: 5px;
  width: 150px;
  height: 280px;
  border: 1px solid green; }

@media (min-width: 660px) {
  .description {
    margin: 55px auto 0 auto;
    width: 660px;
    height: 725px;
    background: url("../img/description-tablet.jpg"); }
  .description__intro {
    width: 620px;
    font-size: 40px;
    line-height: auto;
    font-weight: 300;
    color: #283645; }
  .description__intro br:first-child {
    display: none; } }

@media (min-width: 1200px) {
  .description {
    margin: 70px auto 0 auto;
    width: 1200px;
    height: 933px;
    background: url("../img/description-desktop.jpg"); }
  .description__intro {
    width: 820px;
    font-size: 50px;
    line-height: auto;
    font-weight: 300;
    color: #283645; } }

.advantages {
  margin: 125px 0 0 0;
  padding: 0;
  list-style: none; }

.advantages__slogan {
  margin: 0 auto;
  text-align: center; }

.advantages__tittle {
  font-size: 18px;
  line-height: 10px;
  font-weight: 700; }

.advantages__text {
  width: 280px;
  margin: 15px auto 35px auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645; }

@media (min-width: 660px) {
  .advantages__slogan {
    margin: 0 20px 0 330px;
    text-align: left; }
  .advantages__tittle {
    font-size: 18px;
    line-height: 10px;
    font-weight: 700; }
  .advantages__text {
    width: 310px;
    margin: 15px 0 35px 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #283645; } }

@media (min-width: 1200px) {
  .advantages {
    margin: 450px auto 0 auto;
    display: flex;
    width: 900px;
    justify-content: space-between; }
  .advantages__slogan {
    margin: 0;
    padding: 0;
    width: 245px;
    text-align: center; }
  .advantages__tittle {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700; }
  .advantages__text {
    width: auto;
    margin: 20px auto 0 auto;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645; } }

.research {
  margin: 0;
  padding: 0;
  display: none; }

@media (min-width: 660px) {
  .research {
    display: block;
    margin: 60px auto 0 auto;
    width: 620px;
    height: 275px;
    background: url("../img/24.png") no-repeat;
    background-position: 20px 0; }
  .research__article {
    margin: 45px 0 0 310px;
    width: 310px; }
  .research__tittle {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000; }
  .research__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #283645; }
  .research__learn-more {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #d22856; } }

@media (min-width: 1200px) {
  .research {
    display: block;
    margin: 0 auto;
    width: 1200px;
    padding: 0;
    height: 430px;
    background: #f2f2f2 url("../img/24.png") no-repeat;
    background-position: 130px 20px; }
  .research__article {
    padding: 100px 0 0 500px;
    margin: 0;
    width: 570px; }
  .research__tittle br {
    display: none; }
  .research__tittle {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #000000; }
  .research__text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645; }
  .research__learn-more {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #d22856; } }

.reviews {
  width: 320px;
  margin: 0 auto; }

.reviews__list {
  margin: 50px auto 0 auto;
  padding: 0;
  width: 280px;
  list-style: none;
  text-align: center; }

.reviews__item {
  display: none; }

.reviews__item--visible {
  display: list-item;
  margin: 0;
  padding: 0; }

.rewiews_postscript {
  display: none; }

.reviews__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000; }

.reviews__content {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645; }

@media (min-width: 660px) {
  .reviews {
    width: 620px;
    margin: 0 auto; }
  .reviews__list {
    width: 620px;
    margin: 105px auto 0 auto; }
  .reviews__item--visible {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .reviews__content {
    order: 1;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645; }
  .reviews__name {
    order: 2;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    line-height: 30px; }
  .rewiews_postscript {
    display: inline;
    margin: 0;
    order: 3;
    font-size: 14px;
    font-weight: 400;
    color: #283645;
    line-height: 30px; }
  .reviews__controls {
    margin: 35px auto 0 auto; } }

@media (min-width: 1200px) {
  .reviews {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background: url("../img/quotes.png") no-repeat;
    background-position: 565px 70px; }
  .reviews__list {
    width: 690px;
    padding: 170px 0 0 0;
    margin: 0 auto; }
  .reviews__item--visible {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .reviews__content {
    order: 1;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645; }
  .reviews__name {
    order: 2;
    margin: 20px 0 0 0;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    line-height: 30px; }
  .rewiews_postscript {
    display: inline;
    margin: 0;
    order: 3;
    font-size: 18px;
    font-weight: 400;
    color: #283645;
    line-height: 30px; }
  .reviews__controls {
    display: none; }
  .reviews__arrow {
    position: absolute;
    top: 215px;
    left: 130px;
    width: 22px;
    height: 42px;
    background: url("../img/left arrow.png") no-repeat;
    opacity: 0.3;
    cursor: pointer; }
  .reviews__arrow--right {
    position: absolute;
    left: auto;
    right: 130px;
    transform: rotate(180deg); }
  .reviews__arrow:hover {
    opacity: 0.6; }
  .reviews__arrow:active {
    opacity: 0.1; } }

.tarrifs-wrap {
  padding: 130px 0 0 0;
  height: 375px;
  background: url("../img/Shape 2 copy.png") no-repeat; }

.tariffs {
  margin: 0;
  border: 2px solid #e5e5e5;
  border-collapse: collapse;
  text-transform: uppercase; }

.tariffs__column {
  padding: 0 0 0 20px;
  border: 2px solid #e5e5e5;
  min-width: 280px;
  background: #ffffff;
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400; }

.tariffs__options {
  display: flex;
  width: 280px;
  justify-content: space-between; }

.tariffs__options img {
  align-self: center;
  display: block;
  padding: 0 15px 0 0; }

.tariffs__row {
  height: 60px; }

.tariffs__head {
  position: relative;
  padding: 20px 0 0 0;
  background-color: #283645;
  border: 2px solid #e5e5e5; }

.tariffs__tittle {
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700; }

.tariffs__price {
  margin: 10px 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300; }

.tariffs__hit {
  position: absolute;
  margin: 0;
  left: -2px;
  top: 0; }

.tariffs__head--none {
  opacity: 0;
  border-style: hidden;
  border-bottom: 2px solid #e5e5e5; }

.tariffs__column--mobile-hidden {
  display: none; }

@media (min-width: 660px) {
  .tarrifs-wrap {
    padding: 110px 0 0 0;
    height: 395px;
    background: url("../img/Shape 2 tablet.png") no-repeat; }
  .tariffs__name {
    display: none; }
  .tariffs__column--mobile-hidden {
    display: table-cell; }
  .tariffs__column--mobile-hidden .tariffs__name {
    display: table;
    margin: 0 0 0 20px; }
  .tariffs {
    margin: 0 auto 0 auto;
    border: 2px solid #e5e5e5;
    border-collapse: collapse;
    text-transform: none; }
  .tariffs__column {
    padding: 0;
    text-align: center;
    border: 2px solid #e5e5e5;
    min-width: 155px;
    color: #283645;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400; }
  .tariffs__options {
    display: flex;
    width: 155px;
    justify-content: center; }
  .tariffs__options img {
    align-self: center;
    display: block;
    padding: 0; }
  .tariffs__row {
    height: 60px; }
  .tariffs__head {
    position: relative;
    padding: 20px 0 0 0;
    background-color: #283645; }
  .tariffs__tittle {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700; }
  .tariffs__price {
    margin: 0 0 10px 0;
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300; }
  .tariffs__hit {
    position: absolute;
    margin: 0;
    left: -2px;
    top: 0; } }

@media (min-width: 1200px) {
  .tarrifs-wrap {
    padding: 155px 0 0 0;
    height: 380px;
    background: url("../img/Shape 2 desktop.png") no-repeat; } }

.contacts {
  margin: 50px auto 0 auto;
  width: 320px;
  text-align: center;
  font-size: 24px; }

.contacts__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none; }

.contacts__item {
  margin: 0 auto;
  padding: 0;
  width: 250px;
  text-align: center; }

.contacts__questions {
  font-size: 24px;
  line-height: auto;
  font-weight: 300;
  color: #283645; }

.contacts__tittle {
  font-size: 18px;
  line-height: auto;
  font-weight: 700;
  color: #283645; }

.contacts__content {
  font-size: 18px;
  line-height: auto;
  font-weight: 400;
  color: #d22856; }

.contacts__map {
  width: 320px;
  height: 200px;
  background: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: 0 1px; }

.contacts__overlay {
  width: 0;
  height: 0;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  border-top: 35px solid white; }

@media (min-width: 660px) {
  .contacts {
    width: 660px; }
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0; }
  .contacts__item {
    margin: 0;
    padding: 0; }
  .contacts__questions {
    font-size: 40px;
    line-height: auto;
    font-weight: 300;
    color: #283645; }
  .contacts__tittle {
    font-size: 18px;
    line-height: auto;
    font-weight: 700;
    color: #283645; }
  .contacts__content {
    font-size: 24px;
    line-height: auto;
    font-weight: 400;
    color: #d22856; }
  .contacts__map {
    width: 660px;
    height: 374px;
    background: url("../img/map-tablet.png");
    background-repeat: no-repeat;
    background-position: 0 1px; }
  .contacts__overlay {
    width: 0;
    height: 0;
    border-left: 330px solid transparent;
    border-right: 330px solid transparent;
    border-top: 70px solid #ffffff; } }

@media (min-width: 1200px) {
  .contacts {
    width: 1200px; }
  .contacts__map {
    width: 1200px;
    height: 502px;
    background: url("../img/map-desktop.png");
    background-repeat: no-repeat;
    background-position: 0 1px; }
  .contacts__overlay {
    width: 0;
    height: 0;
    border-left: 600px solid transparent;
    border-right: 600px solid transparent;
    border-top: 105px solid #ffffff; } }

.controls {
  display: flex;
  list-style: none;
  margin: 40px auto 0 auto;
  padding: 0;
  width: 59px;
  justify-content: space-between;
  align-items: center; }

.controls__button {
  margin: 0;
  padding: 0;
  height: 6px;
  width: 6px;
  background-color: #bec2c7;
  border-radius: 3px;
  cursor: pointer; }

.controls__button--active {
  height: 6px;
  width: 6px;
  border: 3px solid #283645;
  background-color: #ffffff;
  border-radius: 6px; }

.controls__button:hover {
  background-color: #7e868f; }

.controls__button--active:hover {
  background-color: #ffffff; }

.controls__button:active {
  background-color: #e9ebec; }

.controls__button--active:active {
  background-color: #ffffff; }

@media (min-width: 660px) {
  .controls {
    display: none; } }

@media (min-width: 1200px) {
  .controls {
    display: none; } }

.main-footer {
  display: none; }

@media (min-width: 660px) {
  .main-footer img {
    align-self: center; }
  .main-footer {
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px; }
  .main-footer__social-networks {
    margin: 0;
    padding: 0;
    width: 180px;
    list-style: none;
    display: flex;
    justify-content: space-between; }
  .main-footer__soc-item {
    margin: 0;
    padding: 0;
    width: 45px;
    height: 45px;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    border: 3px solid #e9ebec;
    cursor: pointer; }
  .main-footer__soc-image {
    display: block;
    margin: 0 auto; }
  .main-footer__htmlacademy {
    display: flex;
    justify-content: space-between;
    width: 130px; }
  .main-footer__developed-by {
    font-size: 14px;
    line-height: 18PX;
    font-weight: 400;
    color: #283645; }
  .main-footer__htmlacademy-logo {
    cursor: pointer; }
  .main-footer__pink-logo-desktop {
    display: none; }
  .main-footer__pink-tablet {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    cursor: pointer; }
  .main-footer__pink-item-tablet {
    margin: 0;
    padding: 0;
    list-style: none; }
  .main-footer__pink-item-tablet:nth-child(2) {
    margin: 17px 0 0 10px;
    padding: 0;
    filter: grayscale(100%) brightness(0%); }
  .main-footer__pink-tablet:hover .main-footer__pink-item-tablet:nth-child(2) {
    filter: none; }
  .main-footer__pink-tablet:active {
    filter: grayscale(100%) brightness(0%);
    opacity: 0.3; }
  .main-footer__soc-item:hover {
    border: 3px solid #000000; }
  .main-footer__soc-item:active {
    border: 3px solid #000000;
    opacity: 0.3; }
  .main-footer__htmlacademy-logo:hover {
    filter: grayscale(100%) brightness(0%); }
  .main-footer__htmlacademy-logo:active {
    filter: grayscale(100%) brightness(0%);
    opacity: 0.3; } }

@media (min-width: 1200px) {
  .main-footer {
    width: 940px;
    margin: 70px auto; }
  .main-footer__pink-logo-desktop {
    display: block; }
  .main-footer__pink-tablet {
    display: none; }
  .main-footer__pink-logo-desktop {
    cursor: pointer; }
  .main-footer__pink-logo-desktop:hover {
    filter: grayscale(100%) brightness(0%); }
  .main-footer__pink-logo-desktop:active {
    filter: grayscale(100%) brightness(0%);
    opacity: 0.3; } }
