.description {
	margin: 270px auto 0 auto;
	width: $mobilewidth;
	height: 1000px;
	text-align: center;
	border: 1px solid red;
}

.description__intro {
	margin: 45px auto 0 auto;
	padding: 0;
	width: 205px;
	text-align: center;
}

.description__image {
	margin-bottom: 5px;
	width: 150px;
	height: 280px;
	border: 1px solid green;
}

@media (min-width: $tabletwidth){
	
	.description {
		width: $tabletwidth;
		height: auto;
	}

	.description__intro {
		// font-size: 40px;
		width: 620px;
	}
}

@media (min-width: $desktopwidth){
	.description {
		width: $desktopwidth;
	}
}