$mobilewidth: 320px;
$tabletwidth: 660px;
$desktopwidth: 1200px;

body {
	padding: 0;
	margin: 0 auto;
	width: $mobilewidth;
	font-family: Open Sans, Arial, sans-serif;
};

@media (min-width: $tabletwidth){
	body {
		padding: 0;
		margin: 0 auto;
		width: $tabletwidth;
	};
}

@media (min-width: $desktopwidth){
	body {
		padding: 0;
		margin: 0 auto;
		width: $desktopwidth;
	};
}

@import 'main-header.scss';
@import 'intro.scss';
@import 'system.scss';
@import 'description.scss';
@import 'advantages.scss';
@import 'research.scss';
@import 'reviews.scss';
@import 'tariffs.scss';
@import 'contacts.scss';
@import 'controls.scss';