.intro__slogan {
	display: none;
}

.intro {
	margin: 0;
	padding: 0;
	position: relative;
	height: 395px;
	width: $mobilewidth;
}

.intro--photo {
	margin: 0;
	padding: 0;
	position: relative;
	height: 170px;
	width: $mobilewidth;
}

.intro__tittle {
	margin: 0;
	padding: 35px 0 0 0;
	text-align: center;
	font-size: 24px;
	line-height: auto;
	font-weight: 300;
	color: #ffffff;
}

.intro__download {
	margin: 0;
	padding: 0;
	height: 270px;
	width: $mobilewidth;
	position: absolute;
	bottom: -270px;
	background-color: #283645;
}

.intro__download-link {
	display: flex;
	margin: 30px auto 0 auto;
	border-radius: 50px;
	width: 275px;
	height: 50px;
	border: 3px solid white;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
}

.intro__download-link:hover {
	color: #d22856;
	background: #ffffff;
}

.intro__download-link:active {
	color: rgba(210, 40, 86, 0.3);
}

@media (min-width: $tabletwidth){
	.intro {
		margin: 0;
		padding: 0;
		width: $tabletwidth;
		height: 620px;
	}

	.intro--photo {
		margin: 0;
		padding: 0;
		width: $tabletwidth;
		height: 329px;
	}

	.intro__tittle {
		margin: 0;
		padding: 80px 0 0 0;
		text-align: center;
		font-size: 50px;
		line-height: auto;
		font-weight: 300;
		color: #ffffff;
	}

	.intro__download {
		position: static;
		height: auto;
		width: 300px;
		left: 20px;
		top: 105px;
		background: none;
	}

	.intro__slogan {
		display: block;

		margin: 0 auto;
		padding-top: 80px;
		width: 200px;
		text-align: center;

		font-weight: 300;
		font-size: 40px;
		line-height: auto;
		color: #ffffff;
	}
}

@media (min-width: $desktopwidth){
	.intro {
		margin: 0;
		padding: 0;
		width: $desktopwidth;
		height: 740px;
	}

	.intro--photo {
		margin: 0;
		padding: 0;
		width: $desktopwidth;
		height: 284px;
	}

	.intro__tittle {
		margin: 0;
		padding: 70px 0 0 0;
		text-align: center;
		font-size: 50px;
		line-height: auto;
		font-weight: 300;
		color: #ffffff;
	}

	.intro__download {
		padding: 120px 0 0 130px;
		position: static;
		height: auto;
		width: 300px;
		margin: 0;
	}

	.intro__slogan {
		display: block;

		margin: 0 auto;
		padding: 0;
		width: 240px;
		text-align: center;

		font-weight: 300;
		font-size: 50px;
		line-height: auto;
		color: #ffffff;
	}

	.intro__download-link {
		margin: 60px auto 0 auto;
	}
}