.main-header {
	width: $mobilewidth;
	margin: 0 auto;
	background-color: #283645;

}

.main-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-menu__item {
	width: $mobilewidth;
	display: flex;
	box-shadow: 0 1px 0px #000000, 0 2px 0px #485461;
}

.main-menu__item:last-child {
	box-shadow: 0 1px 0px #000000;
	margin: 0 0 1px 0;
}

.main-menu__link {
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	font-size: 18px;
	line-height: 32px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
}

.main-menu__item--logo {
	height: 70px;
}

.main-menu__logo {
	margin: 20px 0 0 20px;
	background: url("../img/logotype-white-mobile.png");
	width: 75px;
	height: 22px;
}

.main-menu__item--logo {
	position: relative;
}

.main-menu__close {
	position: absolute;
	right: 20px;
	top: 20px;
}

@media (min-width: $tabletwidth){	
	.main-header {
		width: $tabletwidth;
	}

	.main-menu {
		
	}

	.main-menu__item {
		width: $tabletwidth;
	}

	.main-menu__link {
		
	}

	.main-menu__item--logo {
		height: 110px;
	}

	.main-menu__logo {
		margin: 25px 0 0 20px;
		background: url("../img/logotype-white-tablet.png") no-repeat;
		width: 147px;
		height: 40px;
	}
	
	.main-menu__close {
		right: 20px;
		top: 45px;
	}
}

@media (min-width: $desktopwidth){
	.main-header {
		width: $desktopwidth;
		position: relative;
	}

	.main-menu {
		position: absolute;
		display: flex;
		z-index: 2;
		margin: 0;
		padding: 0 130px;
		background-color: rgba(0, 0, 0, 0.3);
		width: 940px;
		justify-content: space-between;
	}

	.main-menu__item {
		width: auto;
		align-items: center;
		height: 110px;
		box-shadow: none;
	}

	.main-menu__link {
		flex-grow: 0;
		text-transform: none;
		font-size: 18px;
		line-height: 18px;
		font-weight: 400;
	}
	
	.main-menu__logo {
		align-self: flex-start;
		margin: 20px 0 0 0;
		background: url("../img/logotype-white-desktop.png") no-repeat;
		width: 147px;
		height: 40px;
	}
	
	.main-menu__close {
		display: none;
	}
}
