.main-footer {
	display: none;
}

@media (min-width: $tabletwidth){
	.main-footer img {
		align-self: center;
	}

	.main-footer {
		margin: 35px auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 620px;
	}

	.main-footer__social-networks {
		margin: 0;
		padding: 0;
		width: 180px;
		list-style: none;
		display: flex;
		justify-content: space-between;
	}

	.main-footer__soc-item {
		margin: 0;
		padding: 0;
		width: 45px;
		height: 45px;
		display: flex;
		border-radius: 25px;
		justify-content: center;
		align-items: center;
		border: 3px solid #e9ebec;
		cursor: pointer;
	}

	.main-footer__soc-image {
		display: block;
		margin: 0 auto;
	}

	.main-footer__htmlacademy{
		display: flex;
		justify-content: space-between;
		width: 130px;
	}

	.main-footer__developed-by {
		font-size: 14px;
		line-height: 18PX;
		font-weight: 400;
		color: #283645;
	}

	.main-footer__htmlacademy-logo {
		cursor: pointer;
	}

	.main-footer__pink-logo-desktop {
		display: none;
	}

	.main-footer__pink-tablet {
		margin: 0;
		padding: 0;
		// width: 145px;
		display: flex;
		justify-content: space-between;
		align-items: bottom;
		cursor: pointer;
	}

	.main-footer__pink-item-tablet {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.main-footer__pink-item-tablet:nth-child(2) {
		margin: 17px 0 0 10px;
		padding: 0;
		filter: grayscale(100%) brightness(0%);
	}

	.main-footer__pink-tablet:hover .main-footer__pink-item-tablet:nth-child(2){
		filter: none;
	}

	.main-footer__pink-tablet:active {
		filter: grayscale(100%) brightness(0%);
		opacity: 0.3;
	}

	.main-footer__soc-item:hover {
		border: 3px solid #000000;
	}

	.main-footer__soc-item:active {
		border: 3px solid #000000;
		opacity: 0.3;
	}

	.main-footer__htmlacademy-logo:hover {
		filter: grayscale(100%) brightness(0%);
	}

	.main-footer__htmlacademy-logo:active {
		filter: grayscale(100%) brightness(0%);
		opacity: 0.3;
	}
}

@media (min-width: $desktopwidth){
	.main-footer {
		width: 940px;
		margin: 70px auto;
	}

	.main-footer__pink-logo-desktop {
		display: block;
	}

	.main-footer__pink-tablet {
		display: none;
	}

	.main-footer__pink-logo-desktop{
		cursor: pointer;
	}

	.main-footer__pink-logo-desktop:hover {
		filter: grayscale(100%) brightness(0%);
	}

	.main-footer__pink-logo-desktop:active {
		filter: grayscale(100%) brightness(0%);
		opacity: 0.3;
	}
}