.research {
	margin: 0;
	padding: 0;
	display: none;
}

@media (min-width: $tabletwidth){
	.research {
		display: block;
		margin: 60px auto 0 auto;
		width: 620px;
		height: 275px;
		background: url("../img/24.png") no-repeat;
		background-position: 20px 0;
	}
	
	.research__article {
		margin: 45px 0 0 310px;
		width: 310px;
	}

	.research__tittle {
		margin: 0;

		font-size: 30px;
		line-height: 36px;
		font-weight: 700;
		color: #000000;
	}

	.research__text {
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		color: #283645;
	}

	.research__learn-more {
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		color: #d22856;
	}
}

@media (min-width: $desktopwidth){
	.research {
		display: block;
		margin: 0 auto;
		width: $desktopwidth;
		padding: 0;
		height: 430px;
		// background-color: #f2f2f2;
		background: #f2f2f2 url("../img/24.png") no-repeat;
		background-position: 130px 20px;
	}
	
	.research__article {
		padding: 100px 0 0 500px;
		margin: 0;
		width: 570px;
	}

	.research__tittle br {
		display: none;
	}

	.research__tittle {
		margin: 0;

		font-size: 30px;
		line-height: 30px;
		font-weight: 700;
		color: #000000;
	}

	.research__text {
		font-size: 18px;
		line-height: 30px;
		font-weight: 400;
		color: #283645;
	}

	.research__learn-more {
		font-size: 18px;
		line-height: 30px;
		font-weight: 400;
		color: #d22856;
	}
}