.research {
	margin: 0;
	padding: 0;
	display: none;
}

@media (min-width: $tabletwidth){
	.research {
		display: block;
		margin: 60px auto 0 auto;
		width: 620px;
		border: 1px solid green;
	}
	
	.research__article {
		margin: 45px 0 0 310px;
		width: 310px;
		border: 1px solid red;
	}
}

@media (min-width: $desktopwidth){
	.research {
		display: block;
		margin: 0 auto;
		width: $desktopwidth;
		padding: 0;
		height: 410px;
		border: 1px solid green;
	}
	
	.research__article {
		margin: 100px 0 0 500px;
		width: 570px;
		border: 1px solid red;
	}
}